html,body {
    height: 100%;
}
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .15;
    width: 100%;;
    background-color: blanchedalmond;
}
#content {
    display: flex;
    flex: .85;
    width: 100%;
}
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: .25;
    background-color: cornflowerblue;
}
#todos {
    display: flex;
    flex: .75;
    background-color: darkkhaki;
}